body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.8px;
  margin: 0px;
  background-color: #2b2b2b;
  color: white;
}

#header {
  height: 100px;
  background-color: black;
  color: white;
  display: flex;
  padding: 0px 30px;
}

#header > div {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  justify-content: center;
}

#header > div > ul {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  padding: 0;
  margin: 0px 10px;
}

#header > div > ul > li {
  margin: 0px 10px;
}

#header_nav > ul {
  justify-content: left;
}

#header_nav a {
  text-decoration: none;
  color: white;
}

#header_nav a.active {
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}

#title {
  font-size: 30px;
  letter-spacing: 8px;
  font-weight: 200;
}

#social_media > ul {
  justify-content: right;
}

#social_media img {
  height: 20px;
}

#tagline {
  height: 500px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  padding: 0 30px;
}

#profile_photo > img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transform: rotateY(180deg);
}

#showcase {
  color: white;
  padding: 30px;
}

#showcase h1 {
  text-align: center;
  font-weight: 300;
  letter-spacing: 8px;
}

#showcase > .game_info {
  margin-top: 150px;
}

#showcase > .game_info > div {
  display: flex;
}

#showcase > .game_info .game_tile_container {
  position: relative;
}

#showcase > .game_info  .device_tags {
  bottom: 20px;
  right: 10px;
  position: absolute;
}

#showcase > .game_info  .device_tags span {
  background: #2b2b2b;
  margin: 0px 5px;
  padding: 2px 5px;
  border-radius: 20px;
  font-size: 12px;
}

#showcase .game_info img {
  height: 300px;
  width: 475px;
  border-radius: 15px;
}

#showcase .game_description {
  margin: 0px 30px;
  text-align: justify;
}

#showcase .game_description p {
  margin: 0px;
  font-weight: 300;
  font-size: 16px;
}

#showcase .game_cta {
  display: flex;
  justify-content: end;
  margin-top: 30px;
}

#showcase .game_cta button {
  height: 40px;
  width: 100px;
  margin-left: 30px;
  background: none;
  border: none;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  cursor: pointer;
}

#showcase .game_cta button:hover {
  background: black;
}

#contact {
  height: 500px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  padding: 0 30px;
}

@keyframes revertCursor {
  0% {
    cursor: url('path/to/clicked_crosshair.png'), auto;
  }
  100% {
    cursor: url('path/to/crosshair.png'), auto;
  }
}

#contact .game_cta button {
  height: 40px;
  width: 300px;
  margin-left: 50px;
  background: none;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  cursor: url('./Images/dartboard_Unselected.png'), pointer;
  position: relative; /* Needed for pseudo-element positioning */
}

#contact .game_cta button:active {
  cursor: url('./Images/dartboard.png'), crosshair;
}

#contact .game_cta button:active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: revertCursor 2s forwards; /* Change '2s' to the desired duration */
}

@keyframes revertCursor {
  0% {
    cursor: url('./Images/dartboard.png'), crosshair;
  }
  100% {
    cursor: url('./Images/dartboard_Unselected.png'), pointer;
  }
}

#contact .game_cta button:hover {
  color: #454545;
}

